/* Background gradient for the whole page */
.selection-container {
    min-height: 100vh;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
  }
  
  h2 {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .selection-boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .selection-box {
    background-color: #003366;
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .selection-box:hover {
    transform: translateY(-10px);
  }
  
  .investor {
    background-color: #f9a825;
  }
  
  .selection-box p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Increase the size of the icons */
  .icon img {
    width: 80px;  /* Increased from 50px */
    height: 80px; /* Increased from 50px */
  }
  @media (min-width: 1200px) {
    .h2, h2 {
        font-size: 3.5rem;
    }
}